<!DOCTYPE html>
<html>
    <head>
    {% include 'libraries.html' %} 
    </head>
    <body>
        <div class="container">
            <h1 style="font-size:40px"><i class="fas fa-shield-virus" style=" color: orange"></i> THE VIRUS SHIELD</h1>
            <div class="container">
                <div class="container" style="font-size:20px; background-color: #ffc9db; color: black; margin-top: 50px; border-radius: 5px">
                    <div>
                        <h3 style="color:#ff4a86; margin-top: 30px">SUPPORT THE VIRUS SHIELD</h3>
                        <p style="font-size:32px"> <img style="width:600px; height: 240px; float: right; margin-bottom: 100px; margin-top: 0px" src="https://static01.nyt.com/newsgraphics/2020/03/10/coronavirus-pathogen/0ee8f1a44b1932072653a0a75ff96486feb6f36d/covid-virus.png" />Your donation helps us fight the COVID-19 threat. Make your emergency donation and be part of our lifesaving work.</p>
                    </div>
                    <button type="button" class="btn" style="font-size:20px; background-color: orange; color: white; margin-top: 20px; margin-bottom: 10px">Donate now</button>
                </div>
            </div>
        </div>
    </body>
</html>