{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'app/business-frontpage.css' %}">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>


  <!-- Navigater -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Winston-Salem University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2"> Winston-Salem State University Donation Page </h1>
          <p class="lead mb-5 text-white-50">This is our website that we are working with until we finish it. </p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    
          
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>{{campaign_name}} Campaign</h2>
        <hr>
        <p>For the {{campaign_name}} campaign, we have raised <span style="color: green;font-size:x-large;">${{total}}</span> so far with a goal of 
          <span style="color:red; font-size:x-large;">${{goal}}</span>.</p>
          {%if percent >= 100 %}
          <p>Thanks to your help, we have met our goal!</p>
          {%endif%}
        
        <div class="progress" style="height:30px; margin-bottom:2em;">
          {% if percent >= 100 %}
          <div class="progress-bar" role="progressbar" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100" style="width:100%;">
            100%
          </div>
          {% else %}
          <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}"
          aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%;">
            {{percent}}%
          </div>
          {%endif%}
        </div>

        <p>Donate today and be part of our lives saving work.</p>
        <a class="btn btn-primary btn-lg" href="/donate/">Donate Today &raquo;</a>

        
      </div>
      
  
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Oumar's World University</strong>
          <br> 1600 Charles Mickle Rd
          <br>David City, NC 27107
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">alvgarcia@esketit.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhl6q1BvIw6jk_JiUP8bRerxnKB8i4Z_2yM3XDEpLoWvDC3L8g&usqp=CAU" alt="">
          <div class="card-body">
            <h4 class="card-title">Donations</h4>
            <p class="card-text"> - Donation wording here - </p>
          </div>
          <div class="card-footer">
            <a href="/donate/" class="btn btn-primary"> Click to donate! </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Sponsorship</h4>
            <p class="card-text"> - Sponsorship wording here -</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Grants</h4>
            <p class="card-text"> - Gran wording here -</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  

</body>

</html>
